body {
    margin-bottom: 8rem;
    background-color: #7c98b3;
}
h1 {
    margin-left: 20%;
    margin-bottom: 0px;
    font-size: 3rem;
}
h2 {
    font-size: 1.5rem;
}
.flexbox-container {
    margin-top: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.images {
    margin: 5%;
    flex: 1;
}
.company-divide {
    border-top: solid #536b78 .10rem;
    /* margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%; */
    margin: 5%;
}
.block {
    border: solid #536b78 .15rem;
    border-radius: 10px;
    background-color: #cee5f2;
    padding: 0px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1rem;
    padding-top: 2rem;
}
.role-section {
    margin-bottom: 5%;
}
.role-header-flexbox {
    padding: 0px;
    margin: 1rem;
    display: flex;
}
.role-img {
    height: 3rem;
    margin-left: 5%;
    margin-right: 2.5%;
}
.role-text {
    margin-left: 5%;
    margin-right: 5%;
}
.role-header-text {
    margin-right: 5%;
}
.role-title {
    font-weight: bold;
    font-size: 1.25rem;
    margin: 0%;
}
.role-details {
    margin: 0%;
    font-style: italic;
    font-size: 1.1rem;
}
#headshot {
    border-radius: 50%;
    border: solid black #536b78;
    width: 20%;
    min-width: 235px;
    max-width: 15rem;
}
#blinky {
    width: 30%;
    max-width: 20rem;
    min-width: 320px;
    border-radius: 10px;
}
#title {
    margin-left: 20%;
    margin-top: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
}
.role-skills {
    margin-left: 7%;
}
.role-text.about {
    padding-top: 1%;
    padding-bottom: 2.5%;
}
.role-skills-vue {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    margin-left: 7%;
    margin-right: 5%;
    /* border: 10px solid red; */
}

.role-skills-vue > * {
    /* flex: 1; */
    /* border: 10px solid blue */
}

.skill-items-parent {
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    /* gap: 1rem; */
}
.skill-items {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* border: 10px solid black; */
    padding: 0;
    margin: 2px;
    margin-right: 30px;
}
