body {
    margin-bottom: 8rem;
    background-color: #7c98b3;
}

h1 {
    margin-left: 20%;
    margin-bottom: 0px;
    font-size: 3rem;
}
h2 {
    font-size: 1.5rem;
}

.flexbox-container {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.images {
    margin-left: 5%;
    margin-right: 5%;
}

.company-divide {
    border-top: solid #536b78 .10rem;
    width: 95%;
    margin-bottom: 5%;
}

.block {
    border: solid #536b78 .15rem;
    border-radius: 10px;
    background-color: #cee5f2;
    padding: 0px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1rem;
}

.role-section {
    margin-bottom: 5%;
}

.role-header-flexbox {
    padding: 0px;
    margin: 1rem;
    display: flex;

}

.role-img {
    height: 3rem;
}

.role-text {
    margin-left: 1rem;
}

.role-title {
    font-weight: bold;
    font-size: 1.25rem;
    margin: 0%;
}

.role-details {
    margin: 0%;
    font-style: italic;
    font-size: 1.1rem;
}

#headshot {
    border-radius: 50%;
    border: solid black #536b78;
    width: 20%;
    max-width: 15rem;
}
#images {
    height: 15rem;
}
#blinky {
    width: 30%;
    max-width: 20rem;
    min-width: 10rem;
    border-radius: 10px;
}
#title {
    margin-left: 20%;
    margin-top: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
}
